//@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: Jost;
  src: url("./fonts/jost/Jost-Regular.woff") format("woff");
  src: url("./fonts/jost/Jost-Regular.ttf") format("truetype");
}


body {
  margin: 0;
}

.App {
  font-family: Jost;
}
