.Auth {
  //background-color: #f5f5f6;
  position: relative;

  .warning {
    position: absolute;
    padding: 9px 16px;
    bottom: 29px;
    left: 315px;

    width: fit-content;
    transition: 1s;
    color: white;
    background-color: #ec6a09;
  }

  .mainContainer {
    padding: 30px 40px;
    //margin: 60px 25%;
    //border: 2px solid #77bd1b;

    .title {
      padding:20px 0 20px 0;
      //padding: 20px 40px;
      font-size: 24px;
      font-weight: 500;
    }
    .inputsWrapper {
      display: flex;
      flex-direction: column;

      .errorsWrapper {
        display:flex;
        height:23px;
      }
    }
    .error {
      height: 23.2px;
      margin: 3px 0 11px 0 ;
      //color: #ec6a09;

      width: fit-content;
      padding: 0 5px;
      transition: 0.3s;
      font-weight: 500;
      color: white;
      border-radius: 3px;
      background-color: #ec6a09;
    }
    .buttonsWrapper {
      display: flex;
      column-gap: 1rem;
    }
  }
}